.btn {
	display: inline-block;

	margin: 0.2em 0.5em 0.2em 0;
	padding:2px;
	@include border-radius(40px);
	background-size: cover;


	@include transition(background, 0.2s, ease-out);

	span {
		display: inline-block;
		padding: 8px 19px;
		@include border-radius(40px);

		font-size: 19px;
		text-align: center;
		font-weight: 600;

		@include transition(background, 0.2s, ease-out);
	}


	&.btn--big span {
		font-size: 25px;
	}

	&.btn--transparent-white {
		span{
			color: #fff;
		}
		&:hover span {
			color:#d1f6ff;
		}
	}

	/* backgrounds settings */
	&.btn--bg-white {
		span {
			background: #fff;
			color: #0f80c4;
		}
	}


	&.btn--bg-black {
		span {
			background: $darkgrey3;
			color: #fff;
		}


		&:hover span {
			background: #333;
			color: #ededed;
		}

		&:active span {
			text-shadow:0 1px 1px #000;
		}
	}


	&.btn--bg-darkblue {
		span {
			background: rgba(1,73,117, 1);
			color: #fff;
		}

		&:hover span {
			background: rgba(3,93,148, 1);
		}
	}


	/* borders settings */
    $colorList:
    "blue"   $blue,
    "red"    $red,
    "orange" $orange,
    "green"  $green
	;
	
	&.btn--border-blue {
		background: linear-gradient(254deg,#1296e8 0,#31617c 65%,#07b8ff 100%);
	}

	&.btn--border-green {
		background: linear-gradient(254deg,#53ad16 0,#89f045 65%,#377c0a 100%);
	}

	&.btn--border-orange {
		background: linear-gradient(254deg,#ff9900 0,#ffb411 65%,#c07505 100%);
	}

	&.btn--border-red {
		background: linear-gradient(254deg,#ff3c00 0,#ff633c 65%,#b33009 100%);
	}

	&:hover {
		background-position: -200px;
	}

}


.btn--left-sep {
	&:before {
		@include inline-block();

		content: " ";
		width: 1px;
		height: 38px;
		background: #383838;
		margin: 0 20px;
	}
}



.btn--arrow-down {
	@include border-radius(50%);

	span {
		width: 25px;
		height: 25px;
		padding: 0;
		@include border-radius(50%);

		text-indent: -9999px;

		background: rgba(1,73,117, 1) url(/assets/images/homework/btn-arrow-down.svg) center center no-repeat;
		background-size: 14px 10px;
	}

	&:hover {
		span {
			background-color: rgba(3,93,148, 1);
		}
	}
}


.btn.btn--loading {

	span {
		background-image: url(/assets/images/homework/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ededed;
		text-indent: -9999px;
	}
}